@font-face {
  font-family: "LBB";
  src: url("../public/LibreBaskerville-Bold.ttf");
  font-weight: bold;
}

body {

  --main-color: #d8e0ff;
  --sec-color: #131313;
  --act-color: #ffffff;


  margin: 0;
  padding: 0;
  background-color: var(--main-color);

  text-align: center;
  align-items: center;
  font-family: "LBB", sans-serif;
  font-size: large;
  color: var(--act-color);
}
